.testimonial-section {
  color: #fff;
  padding: 50px 0;
}

.testimonial-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 10px;
}

.testimonial-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 20px; /* Adjust spacing */
}

.testimonial-image {
  flex: 1; /* 50% width */
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  gap: 20px;
}

.testimonial-asset {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 20px;
}

.testimonial-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-info {
  margin-top: 10px;
}

.testimonial-content {
  flex: 1; /* 50% width */
}

.testimonial-quote {
  font-size: 26px;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.quote-icon {
  font-size: 40px;
  color: #666;
}

.testimonial-controls {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.nav-button {
  background: #fff;
  color: #000;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-image,
  .testimonial-content {
    width: 100%;
  }
}

.testimonial {
  position: relative; /* Needed for absolute positioning */
  background-color: #0a0a0a; /* Dark background */
  color: white;
  padding: 40px 30px;
  max-width: 700px;
  line-height: 1.6;
  font-size: 20px;
}

.quote-icon {
  position: absolute;
  top: -55px; /* Moves icon upwards */
  font-size: 150px; /* Large quote */
  font-weight: bold;
  color: rgba(179, 167, 167, 0.557); /* Light opacity */
  z-index: 1; /* Places it behind the text */
}

.testimonial-text {
  position: relative;
  z-index: 2; /* Ensures text is on top */
  font-size: 20px;
  font-weight: 400;
  max-width: 600px;
}

strong {
  color: white;
  font-weight: bold;
}
